extends base

block baseBody
	#wrapper
		#toby_wrapper
			#toby_left
			#toby_right
				#toby_right_logo
					#toby_right_text= pengiHeader
		#sid_wrapper
			- if (pengiAuth)
				ul(id='nav')
					- for module in pengiNav
						li
							a(href='javascript:void(0)')=module.title
							ul
								- for resource in module.resources
									li
										a(href=resource.path)=resource.title
					li
						a(href='/logout')='logout'
			- else
				ul(id='nav')
					li
						a(href='/')='login'
		#ivan_wrapper
			#ivan_left
				#ivan_left_content
					block pengiBody
						#pengiBody= pengiBody
			#ivan_right
				#ivan_right_content_top
				#ivan_right_content_bottom
		#edgar_wrapper
			#edgar_left= pengiMsg
			#edgar_right='&copy; '+pengiCopyright
