html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title= wizTitle
		meta(itemprop='name', content= wizTitle)
		meta(itemprop='image', content= wizImage)
		meta(itemprop='description', content= wizDescription)
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content= wizDescription)
		meta(name='keywords', content= wizKeywords)
		meta(name='robots', content='index, follow')
		- for cssFile in wizCSS
			link(rel='stylesheet', href=cssFile)
		- for cssFile in wizCSSP
			link(rel='stylesheet', href=cssFile, media='print')
		- for jsFile in wizJS
			script(type='text/javascript', src=jsFile)
		block wizJS
		block baseHead
	body
		block baseBody
